@charset "utf-8";

/*-- オーバーレイ（スカしたやつ） */
#laquu-simplebox-overlay {
    position: absolute;
    background: #000;
    opacity: .7;
    filter: opacity("alpha=70");
    -moz-opacity: .7;
    -webkit-opacity: .7;
    -khtml-opacity: .7;
}


/*--  */
#laquu-simplebox-wrap {
    position: absolute;
    width: 100%;
    text-align: center;
}



