@charset "utf-8";
/**
 * Laquu jQuery plugin styles
 */
/*-- opacityOver プラグイン */


/*-- imageOver プラグイン */


/*-- ticker プラグイン */


/*-- blank プラグイン */


/*-- accordion プラグイン */


/*-- tab プラグイン */


/*-- stripe プラグイン */


/*-- hover プラグイン */


/*-- fss プラグイン */


/*-- dropdown プラグイン */


/*-- tooltip プラグイン */


/*-- bubblepop プラグイン */


/*-- imgmenu プラグイン */


/*-- imgmenu プラグイン（自動スクロール版） */


/*-- imgmenu プラグイン */
.imageMenu {
    clear: both;
    height: 200px;
    margin: 0 0 20px;
}
.imageMenu li {
    width: 100px;
    float:left;
    overflow: hidden;
}

.imageMenuVertical {
    width: 200px;
    height: 200px;
    margin: 0 0 20px;
}
.imageMenuVertical li {
    height: 40px;
    overflow: hidden;
}

#monogusaTicker {
    height: 140px;
    overflow: hidden;
}

