@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */
.tickerWrapper {
    overflow: hidden;
    height: 132px;
    width: 320px;
    border: 1px solid #666;
}
.ticker li, .ticker .item {
    height: 112px;
    zoom: 1;
    font-size: 1.4em;
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #FFF), color-stop(90%, #ECECEC));
    background: -moz-linear-gradient(top, #FFF 40%, #ECECEC, 90%);
    border-bottom: 1px solid #666;
    padding: 10px;
}
.ticker li:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.ticker li img, .ticker .item img{
    float: left;
    margin: 0 10px 0 0;
}

dl {
    font-size: 1.5em;
}
dt {
    font-weight: bold;
    margin: 0 0 5px;
}
dd {
    margin: 0 0 15px 20px;
}

.red { color: #900; }
.bold { font-weight: bold; }
.size12 { font-size: 1.2em; }