@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */
.posfix {
	position: fixed;
	text-align: right;
}
#posfix1 {
	top: 60px;
	left: 10px;
	width: 90px;
	height: 30px;
}

#posfix2 {
	bottom: 60px;
	right: 20px;
	width: 90px;
	height: 30px;
}
#posfix3 {
	left: 200px;
	top: 200px;
	width: 30px;
	height: 60px;
	background: #C00;
	color: #FFF;
	padding: 10px;
}