@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */
ul {
    zoom: 1;
}
ul:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
li {
    line-height: 1.5;
    float: left;
    margin: 0 10px 0 0;
}
a {
    padding: 0 0 0 18px;
    display: block;
    float: left;
    font-size: 1.4em;
    height: 22px;
    line-height: 22px;
}

.icon-jpg, .i_jpg {
    background: url(images/jpg.png) no-repeat left center;
}
.icon-gif, .i_gif, .icon-png, .i_png {
    background: url(images/pic.png) no-repeat left center;
}
.icon-pdf, .i_pdf {
    background: url(images/pdf.png) no-repeat left center;
}
