@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */

table {
    width: 100%;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}
th, td {
    padding: 5px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
.even {
    background: #CCC;
}
.odd {
    background: #EEE;
}

.first {
    background: #EEE;
}
.second {
    background: #DDD;
}
.third {
    background: #CCC;
}
.fource {
    background: #BBB;
}


dl {
    font-size: 1.5em;
}
dt {
    font-weight: bold;
    margin: 0 0 5px;
}
dd {
    margin: 0 0 10px 20px;
}
