@charset "utf-8";
/* 全体枠
 --------------------------------------------------------------------------- */
#debug {
    overflow: auto;
    height: 300px;
    border: 1px solid #9C0;
}




/* アコーディオン
 --------------------------------------------------------------------------- */
#accordion {}
#accordion dl {
    width: 400px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}
#accordion dt {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
#accordion dt a {
    display: block;
    padding: 4px;
    background: #EEE;
}
#accordion dd {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin: 0;
    padding: 8px;
    height: 60px;
    overflow: auto;
}
#accordion .current, #accordion .test-current {
    background: #FCC;
    color: #F00;
    text-decoration: none;
    cursor: default;
    font-weight: bold;
}


/* ブランク
 --------------------------------------------------------------------------- */
#blank p a {
    font-size: 16px;
}


/* ブリンク
 --------------------------------------------------------------------------- */
#blink p a {
    font-size: 16px;
}


/* パンくず
 --------------------------------------------------------------------------- */
#breadcrumb {}
#breadcrumb ul { zoom: 1; }
#breadcrumb ul:after {
    content: " ";
    display: block;
    clear: both;
}
#breadcrumb li {
    list-style-type: none;
    margin: 0 10px 0 0;
    font-size: 14px;
}



/* バブルポップ
 --------------------------------------------------------------------------- */
#bubblepop {}
#bubblepop p {
    text-align: center;
}
#bubblepop .popup, #bubblepop .test-bubble {
    border: 1px solid #0CF;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(90, 90, 90, .5);
    background: #FFF;
}
#bubblepop .test-bubble {
    font-size: 30px;
}
#bubblepop .popup p {
    text-align: left;
    margin: 0 0 4px;
}
#bubblepop #bubblepop1 {}
#bubblepop #bubblepop2 {}



/* クリアオーバー
 --------------------------------------------------------------------------- */
#clearover {}
#clearover p {
    font-size: 16px;
}
#clearover #clearover1 {}
#clearover #clearover2 {}



/* ドロップダウン
 --------------------------------------------------------------------------- */
#dropdown {}
#dropdown ul { zoom: 1; }
#dropdown ul:after {
    content: " ";
    display: block;
    clear: both;
}
#dropdown ul li {
    float: left;
    list-style-type: none;
    margin: 0 5px 0 0;
    position: relative;
    border: 1px solid #00F;
    text-align: center;
}
#dropdown ul li a {
    padding: 6px;
    width: 120px;
    color: #FFF;
    background: #39F;
    display: block;
}
#dropdown ul li ul {
    margin: 0;
    padding: 0;
    z-index: 100;
    position: absolute;
    left: -1px;
    top: 34px;
}
#dropdown ul li ul ul {
    left: 134px;
    top: 0;
}
#dropdown .dropdown-panel {
    margin: 0 0 200px;
}
#dropdown1 {}
#dropdown2 {}


/* エクストアイコン
 --------------------------------------------------------------------------- */
#exticon {}
#exticon a {
    padding: 3px 0 3px 18px;
    margin: 0 5px 0 0;
}
#exticon .icon-jpg, #exticon .test-icon_jpg {
    background: url(../externals/ico_jpg.png) no-repeat 0 0;
}
#exticon .icon-gif, #exticon .test-icon_gif {
    background: url(../externals/ico_gif.png) no-repeat 0 0;
}
#exticon .icon-png, #exticon .test-icon_png {
    background: url(../externals/ico_png.png) no-repeat 0 0;
}
#exticon .icon-pdf, #exticon .test-icon_pdf {
    background: url(../externals/ico_pdf.png) no-repeat 0 0;
}



/* フォントサイズ
 --------------------------------------------------------------------------- */
#fontsize.small { font-size: 11px; }
#fontsize.middle { font-size: 13px; }
#fontsize.large { font-size: 16px; }



/*
 --------------------------------------------------------------------------- */



/*
 --------------------------------------------------------------------------- */



/*
 --------------------------------------------------------------------------- */



/*
 --------------------------------------------------------------------------- */



/*
 --------------------------------------------------------------------------- */



/*
 --------------------------------------------------------------------------- */



