@charset "utf-8";
/* 全体枠
 --------------------------------------------------------------------------- */
#debug {
    overflow: auto;
    height: 300px;
    border: 1px solid #9C0;
}




/* アコーディオン
 --------------------------------------------------------------------------- */
#accordion {}
#accordion dl {
    width: 400px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}
#accordion dt {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
#accordion dt a {
    display: block;
    padding: 4px;
    background: #EEE;
}
#accordion dd {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin: 0;
    padding: 8px;
    height: 60px;
    overflow: auto;
}
#accordion .current, #accordion .test-current {
    background: #FCC;
    color: #F00;
    text-decoration: none;
    cursor: default;
    font-weight: bold;
}


/* ブランク
 --------------------------------------------------------------------------- */
#blank p a {
    font-size: 16px;
}


/* ブリンク
 --------------------------------------------------------------------------- */
#blink p a {
    font-size: 16px;
}


/* パンくず
 --------------------------------------------------------------------------- */
#breadcrumb {}
#breadcrumb ul { zoom: 1; }
#breadcrumb ul:after {
    content: " ";
    display: block;
    clear: both;
}
#breadcrumb li {
    list-style-type: none;
    margin: 0 10px 0 0;
    font-size: 14px;
}



/* バブルポップ
 --------------------------------------------------------------------------- */
#bubblepop {}
#bubblepop p {
    text-align: center;
}
#bubblepop .popup, #bubblepop .test-bubble {
    border: 1px solid #0CF;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(90, 90, 90, .5);
    background: #FFF;
}
#bubblepop .test-bubble {
    font-size: 30px;
}
#bubblepop .popup p {
    text-align: left;
    margin: 0 0 4px;
}
#bubblepop #bubblepop1 {}
#bubblepop #bubblepop2 {}



/* クリアオーバー
 --------------------------------------------------------------------------- */
#clearover {}
#clearover p {
    font-size: 16px;
}
#clearover #clearover1 {}
#clearover #clearover2 {}



/* ドロップダウン
 --------------------------------------------------------------------------- */
#dropdown {}
#dropdown ul { zoom: 1; }
#dropdown ul:after {
    content: " ";
    display: block;
    clear: both;
}
#dropdown ul li {
    float: left;
    list-style-type: none;
    margin: 0 5px 0 0;
    position: relative;
    border: 1px solid #00F;
    text-align: center;
}
#dropdown ul li a {
    padding: 6px;
    width: 120px;
    color: #FFF;
    background: #39F;
    display: block;
}
#dropdown ul li ul {
    margin: 0;
    padding: 0;
    z-index: 100;
    position: absolute;
    left: -1px;
    top: 34px;
}
#dropdown ul li ul ul {
    left: 134px;
    top: 0;
}
#dropdown .dropdown-panel {
    margin: 0 0 200px;
}
#dropdown1 {}
#dropdown2 {}



/* エクストアイコン
 --------------------------------------------------------------------------- */
#exticon {}
#exticon a {
    padding: 3px 0 3px 18px;
    margin: 0 5px 0 0;
}
#exticon .icon-jpg, #exticon .test-icon_jpg {
    background: url(../externals/ico_jpg.png) no-repeat 0 0;
}
#exticon .icon-gif, #exticon .test-icon_gif {
    background: url(../externals/ico_gif.png) no-repeat 0 0;
}
#exticon .icon-png, #exticon .test-icon_png {
    background: url(../externals/ico_png.png) no-repeat 0 0;
}
#exticon .icon-pdf, #exticon .test-icon_pdf {
    background: url(../externals/ico_pdf.png) no-repeat 0 0;
}



/* フォントサイズ
 --------------------------------------------------------------------------- */
#fontsize.small { font-size: 11px; }
#fontsize.middle { font-size: 13px; }
#fontsize.large { font-size: 16px; }



/* インナースライド
 --------------------------------------------------------------------------- */
#innerslide {}
#innerslide h3 {
	padding: 0;
	margin: 0;
}
#innerslide p {
	padding: 0;
	margin: 0;
}
#innerslide .is-panel { zoom: 1; }
#innerslide .is-panel:after { content: " "; display: block; clear: both; }
#innerslide .sliderpanel {
	position: relative;
	width: 160px;
	height: 140px;
	overflow: hidden;
	padding: 10px;
	border: 1px solid #666;
	float: left;
	margin: 0 10px 10px 0;
}
#innerslide .innerslide {
	position: absolute;
	padding: 10px;
	width: 160px;
	height: 140px;
	background: rgba(50, 50, 50, .7);
	color: #FFF;
}
#innerslide1 .innerslide { top: 0; left: 0; }
#innerslide2 .pos-right { top:  0; right: 0; }
#innerslide2 .pos-bottom { bottom: 0; left: 0; }
#innerslide2 .pos-left { top: 0; left: 0; }



/* オーバー
 --------------------------------------------------------------------------- */
#over .hover {
	border: 1px solid #C09;
	padding: 0 5px;
}
#over .over {
	border: 1px solid #09C;
	padding: 0 5px;
}



/* ピックメニュー
 --------------------------------------------------------------------------- */
#picmenu {}
#picmenu .picmenu-panel {
	overflow: hidden;
	width: 600px;
}
#picmenu .last-item {
	min-width: 240px;
}
#picmenu ul {
	list-style-type: none;
	zoom: 1;
	margin: 0;
	padding: 0;
	width: 900px;
}
#picmenu ul:after {
	content: " ";
	display: block;
	clear: both;
}
#picmenu li {
	margin: 0;
	padding: 0;
}
#picmenu1 li {
	float: left;
}



/* ポスフィックス
 --------------------------------------------------------------------------- */
#posfix {}
#posfix #fix {
	position: fixed;
	bottom: 50px;
	left: 120px;
}



/* スクロール2ビュー
 --------------------------------------------------------------------------- */
#s2v {}
#s2v a {
	display: block;
	padding: 5px;
	text-decoration: none;
}
#s2v #s2v1 {
	position: fixed;
	bottom: 40px;
	left: 120px;
	border: 1px solid #999;
}
#s2v #s2v2 {
	position: fixed;
	bottom: 40px;
	right: 120px;
	border: 1px solid #999;
}



/* ストライプ
 --------------------------------------------------------------------------- */
#stripe {}
#stripe table {
	border-top: 1px solid #333;
	border-left: 1px solid #333;
}
#stripe table th, #stripe table td {
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 4px;
}
#stripe .even th, #stripe .even td { background: #FFF; }
#stripe .odd th, #stripe .odd td { background: #EEE; }

#stripe .one th, #stripe .one td { background: #CCC; }
#stripe .two th, #stripe .two td { background: #DDD; }
#stripe .three th, #stripe .three td { background: #EEE; }
#stripe .four th, #stripe .four td { background: #FFF; }

#stripe2 .hover th, #stripe2 .hover td {
	background: #FCC;
}


/* タブ
 --------------------------------------------------------------------------- */
#tab {}
#tab .tab-panel {}
#tab .tab-panel ul {
	margin: 0;
	padding: 0;
	zoom: 1;
}
#tab .tab-panel ul:after {
	content: " ";
	display: block;
	clear: both;
}
#tab .tab-panel li {
	float: left;
	list-style-type: none;
	margin: 0 10px 0 0;
}
#tab .tab-panel li a {
	display: block;
	float: left;
	padding: 5px 12px;
	border: 1px solid #CCC;
	border-bottom: none;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
#tab .tab-panel li.active a {
	background: #FFC;
	position: relative;
	top: 1px;
	cursor: default;
	color: #660;
	font-weight: bold;
}
#tab .tab-panel .panel {
	border: 1px solid #CCC;
	background: #FFC;
}



/* ティッカー
 --------------------------------------------------------------------------- */
#ticker {}
#ticker .ticker-panel {
	width: 500px;
	height: 104px;
	overflow: hidden;
}
#ticker .ticker-panel ul {
	list-style-type: none;
	font-size: 12px;
	padding: 0;
	margin: 0;
}
#ticker .ticker-panel li {
	padding: 0;
	margin: 0;
	zoom: 1;
}
#ticker .ticker-panel li:after {
	content: " ";
	display: block;
	clear: both;
}
#ticker .ticker-panel li img {
	float: left;
	margin: 0 15px 0 0;
}


/*
 --------------------------------------------------------------------------- */



