@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */
.text {
    font-size: 1.5em;
}
.text span {
    background: #E9E9E9;
    padding: 3px;
}

.laquu-tooltip-container {
    padding: 5px 8px;
    border: 1px solid #888;
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#F9F9F9), color-stop(80%,#EEE));
    background: -moz-linear-gradient(top, #F9F9F9 25%, #EEE 80%);
    border-radius: 4px;
    font-size: 1.5em;
}

dl {
    font-size: 1.5em;
}
dt {
    font-weight: bold;
    margin: 0 0 5px;
}
dd {
    margin: 0 0 15px 20px;
}
