@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */
#picMenu1 ul {
    border: 1px solid #999;
    zoom: 1;
    lighting-color: #999;
}
#picMenu1 ul:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

#picMenu1 ul li {
    float: left;
}

