@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */
table {
    border-top:1px solid #999;
    border-right:1px solid #999;
    margin: 0 auto;
}
th, td {
    padding: 3px 6px;
    font-size: 1.4em;
    border-bottom:1px solid #999;
    border-left:1px solid #999;
}
th {}
td {}
.hover {
    background: #FFC;
}
.on {
    background: #FCF;
}

