@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */
.container a {
    font-size: 1.6em;
}

.container dl {
    font-size: 1.5em;
}

.container dt {
    font-weight: bold;
    margin: 0 0 5px;
}
.container dd {
    margin: 0 0 15px 20px;
}
