@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */
a {
    font-size: 1.6em;
}

dl {
    font-size: 1.5em;
}

dt {
    font-weight: bold;
    margin: 0 0 5px;
}
dd {
    margin: 0 0 15px 20px;
}
