@charet "utf-8";
/**
 * -- Comment here
 *
 * Author: 
 * Make: 
 */
ul { zoom: 1; }
ul:after { content: "."; height: 0; display: block; line-height: 0; visibility: hidden; clear: both; }


#menu {
    background: #E39;
}
#menu li {
    margin-left: 1px;
    float: left;
    position: relative;
}
#menu li a {
    color: #FFF;
    display: block;
    padding: 6px 8px;
    font-size: 1.3em;
}
#menu li a:hover {
    background: #FFF;
    color: #666;
}
/* ul > ul */
#menu ul {
    position: absolute;
    border-bottom: 1px solid #999;
}
#menu ul li {
    margin: 0;
}
#menu ul li a {
    width: 90px;
    background: #F0F0F0;
    border: 1px solid #999;
    border-bottom: none;
    color: #444;
}
/* ul > ul > ul */
#menu ul ul {
    top: 0;
    left: 109px; /* left, right padding + li>a of the width. */
}
