@charset "utf-8";
h1 {}
h2 {}
h3 {}
h4 {}

table {
    width: 100%;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    background: #FFF;
}
th, td {
    padding: 4px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
th {
    width: 30%;
    text-align: left;
}

.example {
    padding: 10px 12px;
    border: 1px solid #CDCDCD;
    background: #F9F9F9;
    margin: 0 0 20px;
    border-radius: 6px;
    zoom: 1;
}
.example:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

